# Игнорировать все файлы сборки
/build/
/dist/

# Игнорировать зависимости
/node_modules/

# Игнорировать логи
*.log

# Игнорировать временные файлы ОС
.DS_Store
Thumbs.db

# Игнорировать IDE-файлы
.vscode/
.idea/

# Игнорировать файлы окружения
.env
.env.local
.mc